md-switch {
  margin: 0;
}

.highlight {
  color: red;
}

.md-list-item-inner {
  word-break: break-all;
}

md-list-item.md-3-line .md-list-item-text, md-list-item.md-3-line>.md-no-style .md-list-item-text {
  margin: 8px;
}

.md-button.md-warn.md-raised {
  color: rgb(255,255,255);
}

.comp-select-header {
  /* Please note: All these selectors are only applied to children of elements with the 'comp-select-header' class */
}

.comp-select-header .select-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.comp-select-header .select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1), 0 0 0 0 rgba(0, 0, 0, .14), 0 0 0 0 rgba(0, 0, 0, .12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}

.comp-select-header md-content._md {
  max-height: 240px;
}

.fixed-top-progressbar {
  position: fixed;
  top: 0;
  z-index: 999999;
  width: 100%;
}

.fixed-top-progressbar ._md-progress-linear-disabled {
  display: none;
}
